@let housingLocation = housingLocation$ | async;
<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
    <p class="listing-location">
      {{ housingLocation?.city }},
      {{ housingLocation?.state }}
    </p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocation?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
      <li>
        Does this location have laundry:
        {{ housingLocation?.laundry }}
      </li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <app-custom-card>
      <div card-title>React Apply Form</div>
      <div card-body>
        <app-detail-form (formSubmission)="submitApplication($event)" />
      </div>
    </app-custom-card>
    <app-custom-card>
      <div card-title>Template Driven Apply Form</div>
      <div card-body>
        <app-detail-form-template-driven />
      </div>
    </app-custom-card>
  </section>
</article>
