@let housingLocastion = housingLocation$ | async;
<article>
  <img
    class="listing-photo"
    [src]="housingLocastion?.photo"
    alt="Exterior photo of {{ housingLocastion?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocastion?.name }}</h2>
    <p class="listing-location">
      {{ housingLocastion?.city }},
      {{ housingLocastion?.state }}
    </p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocastion?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocastion?.wifi }}</li>
      <li>
        Does this location have laundry:
        {{ housingLocastion?.laundry }}
      </li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" formControlName="firstName" />
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" formControlName="lastName" />
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
      <button type="submit" class="" primary>Apply Now</button>
    </form>
  </section>
</article>
