@let housingLocastion = housingLocation$ | async;
<article>
  <img
    class="listing-photo"
    [src]="housingLocastion?.photo"
    alt="Exterior photo of {{ housingLocastion?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocastion?.name }}</h2>
    <p class="listing-location">
      {{ housingLocastion?.city }},
      {{ housingLocastion?.state }}
    </p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocastion?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocastion?.wifi }}</li>
      <li>
        Does this location have laundry:
        {{ housingLocastion?.laundry }}
      </li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <app-detail-form (formSubmission)="submitApplication($event)" />
  </section>
</article>
